/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@600&family=Roboto:wght@300&display=swap');


:root {
    --color-body: #EDEDED;
    --color-heading: #eef3db;
    --color-base: #444444;
    --color-base2: #171717;
    --color-brand: #C06014;
    --color-brand2: #F2A154;
    --color-brand3:#FFA500;
    --sidbar-width: 240px;
    --font-base: "Roboto Mono";
    --color-buttonHover:#EF5B0C;

}
body{
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base),  sans-serif;
}


h1,h2,h3,h4,h5,h6{
  color:var(--color-heading);
  font-weight: 700;
}

a{
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;

}

a.hover{
  color: var(--color-brand);
}

img{
  width: 100%;
}

.navbar{
  background-color: var(--color-base);
  font-size: 1.2rem;
}

.navbar .nav-link.active{
  font-size: 1.2rem;
}

.full-height{
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  border-bottom: 2px solid;
}

.techWord{
font-size: 1.2rem;
animation-timing-function: ease-in;

}

.techWord:hover{
  color: var(--color-buttonHover);
  background-color: var(--color-base);

}

.navbar .nav-link{
  font-weight: 700;
  text-transform: uppercase;
  color:white;
}

.navbar .nav-link.active{
  color: var(--color-brand);
}

.txtBox{
  display:flex;
  justify-content:start;

}
.btnRight{
  display: flex;
  justify-content: end;
  max-height: 50px;
  margin-top: 10%;

}

.shadow-effect{
  transition: all 0.5s;
}
.shadow-effect:hover{
  box-shadow: 0 0 0 5px var(--color-brand) ;
}

h2{
position: relative;
font-family: 'Source Code Pro', monospace !important;
width: max-content;
font-size: 3rem;
}

h2::before,
h2::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

h2::before {
  background: var(--color-base2) !important;
  animation: typewritter 3s steps(12) forwards;
}

h2::after{
  width: 0.1em;
  background: white;
    animation: typewritter 3s steps(12) forwards, blink 6s steps(12) forwards;
}


.flick{
  animation: flicker 1s ease-in-out infinite alternate;

}

.btn{
  padding: 12px 28px;
  font-weight: 700;
}



.btn-brand{
  background-color: var(--color-brand);
  border-color: var(--color-brand);
}

.bg-base{
  background-color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus{
  background-color: var(--color-brand2);
  color: var(--color-base);
  border-color: var(--color-brand2);

}

.link-custom{
  font-weight: 700;
  position: relative;


}

.link-custom:hover{

  color:var(--color-buttonHover);

}

.top{
  color: var(--color-brand2);
}

@keyframes typewritter {
  to{
    left: 100%;
  }
}

@keyframes blink {
  to{
    background: transparent;
  }
}


@keyframes flicker {

  to {
    text-shadow:
    0 0 5px var(--color-brand3), 0 0 10px var(--color-base2),
    0 0 10px var(--color-brand3), 0 0 20px var(--color-base2);
  }
}


@media screen and (max-width: 700px) and (min-width: 200px)  {

.mob{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.imgsm{
  margin-top: 10px;
  margin-bottom: 10px;
}

}

@media (min-width : 769px) {

    h2{
      font-size: 6rem !important;
    }
  .navbar{
    min-height: 100vh;
    background: linear-gradient(#2C3333,#2C3333);

  }
  .w-auto{
  max-width: 15%;
  }
  .navbar-brand img{
    border: 8px;
  }

  .techWord{
    font-size: 1.5rem!important;
  }
  #content-wrapper{
    padding-left: var(--sidbar-width);
  }


}
